@import "tailwindcss";

@font-face {
  font-family: 'Geo';
  src: url('./assets/fonts/Geo-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #111827;
  color: #f9fafb;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}